@media (max-width: 600px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 18vh;
        background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
        font-size: 1.0rem;
        color: #fff;
    }
    .group-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .group-1 h2 {
        margin: 10px 0 10px 35px;
    }
    .group-1 p {
        color: #fff;
        margin: 5px 0 5px 35px;
    }
    .red-social a {
        color: #fff;
    }
    .red-social i {
        display: inline-block;
        padding: 5px 10px;
        margin-left: 25px;
        margin-bottom: 25px;
    }
    .red-social i:hover {
        color: #1888ff;
    }
    .about {
        display: grid;
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .about-me h2 {
        margin: 10px 5px;
    }    
    .about-me .nav-links-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        text-decoration: none;
        font-size: medium;
        margin: 0px 10px;
        color: #fff;        
    }
    .group-2 {
        display: grid;
        grid-column: 1/4;
        grid-row: 3/4;
    }
    .rights {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 540px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        max-height: 15vh;
    }
    .group-1 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .group-1 h2 {
        color: #fff;
        margin: 10px 0 10px 15px;
    }
    .group-1 p {
        color: #fff;
        margin: 5px 0 5px 15px;
    }
    .red-social a {
        color: #fff;
    }
    .red-social i {
        display: inline-block;
        padding: 5px 10px;
        margin-left: 15px;
        margin-bottom: 25px;
    }
    .red-social i:hover {
        color: #1888ff;
    }
    .about {
        display: grid;
        grid-column: 4/6;
        grid-row: 1/2;        
    }
    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .about-me h2 {
        color: #fff;
        margin: 10px 20px;
    }    
    .about-me .nav-links-footer {
        margin: 10px 70px;
        text-decoration: none;
        color: #fff;        
    }    
    .group-2 {
        display: grid;
        grid-column: 2/6;
        grid-row: 3/4;
        color: #fff;
    }
    .rights {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1024px) {    
    .about-me .nav-links {
        font-size: medium;
        margin: 0;
        color: #fff;
    }
}