.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    margin: 25px 0;
    width: 65%;    
}
.container img {
    width: 12%;
    height: 12%;
    border-radius: 50%;
}
.content {
    display: flex;
    flex-direction: column;
    align-self: center;
}